a {
    text-decoration: none;
    color: rgb(53, 101, 77);
}

hr {
    margin-top: 16px;
    border-color: rgb(134, 194, 156);
    margin-left: 256px;
    margin-right: 256px;
}

.end_of_page_hr {
    position: absolute;
    left: 0;
    bottom: 7em;
    width: 100%;
    margin: 0;
}

.end_of_page_copyright {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    margin: 0;
    font-size: 50%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Cardo', serif;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Cardo', serif;
    color: rgb(53, 101, 77);
}

p {
    font-family: 'Cardo', serif;
    margin-left: 256px;
    margin-right: 256px;
    font-size: 17px;
    /*margin-top: 2em;*/
}

body {
    background-color: rgb(134, 194, 156);
}

img {
    float: right;
    margin-right: 64px;
}

.hyperlinks {
    float: left;
    text-align: center;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
    text-decoration: none;
}

.underlined {
    text-align: center;

}

button {
    background-color: rgb(134, 194, 156);
    text-align: center;
    font-family: 'Cardo', serif;
    color: rgb(53, 101, 77);
    border: none;
    font-size: 24px;

    height:50px;
    width:100px;
    cursor:pointer;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

input {
    margin-left: 32px;
    margin-right: 128px;
    width: 32px;
    height: 40px;
}

#comm {
    margin-left: 32px;
    margin-right: 128px;
    width: 32px;
    height: 36px;
}

#hearts {
    margin-left: 32px;
    margin-right: 128px;
    width: 40px;
    height: 32px;
}

summary {
    margin-left: 256px;
}

details {

}

.compSci {
    align: center;
}